NEXT_PUBLIC_SUPABASE_URL=https://bnbdwstvrjgmfftmmofx.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_MsRTR93x8Xc9BNYNTgQ5Dg_v7Nzr16G
SUPABASE_SECRET_KEY=sb_secret_YJxjfO5M6qnLbQgCHbLsVQ_GgT_NCXU
ADMIN_IMPORT_SECRET=kstmishor1
CRON_SECRET=kstmishor1
AUTO_PUBLISH_IMPORTS=false

